@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-text-field.MuiInputBase-input::placeholder {
  font-size: 14px; /* Customize the font size */
}


.react-tel-input .form-control {
    @apply !w-full py-6 !text-base ;
}
.custom-scrollbar::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
  }
  
.custom-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
  }

.inputbox:hover{
  background-color: white;
  border: none;
}

.fade-transition{
  opacity: 1;
  animation: fadein 0.3s ease-in-out forwards;
  

}
@keyframes fadein {
  from{
    opacity: 0;
    height: 0%;
  }
  to{
    opacity: 1;
    height: 100%;
  
 
  }
}
.date-field::-webkit-calendar-picker-indicator {
  display: none;
}

.color-change{
  border-color: blue;
}

.error-change{
  opacity: 1;
  animation: erroran 5s forwards ease-in-out;
}
.error-change.back{
  opacity: 0;
  animation: erroran 2s reverse backwards ease-in-out;
}
@keyframes erroran {
  0%   {opacity: 0;}
  10% {opacity: 1;}
  25%  {opacity: 1;}
  50%  {opacity: 1;}
  75%  {opacity: 1;}
  100% {opacity: 0;}
  
}

/* robot font */
.robot-font{
  font-family: 'Roboto', sans-serif;
}


/* opacity animation*/

.opacity-animation{
  opacity: 0;
  animation: opanimate 1s forwards;
  
}

@keyframes opanimate {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
  
}