@tailwind base;
@tailwind components;
@tailwind utilities;

.react-tel-input .form-control {
    @apply !w-full py-6 !text-base ;
}
.custom-scrollbar::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
  }
  
.custom-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
  }

.inputbox:hover{
  background-color: white;
  border: none;
}

.fade-transition{
  opacity: 1;
  animation: fadein 0.3s ease-in-out forwards;
  

}
@keyframes fadein {
  from{
    opacity: 0;
    height: 0%;
  }
  to{
    opacity: 1;
    height: 100%;
  
 
  }
}